body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

.App-container {
  height: 100vh
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  text-align: center;
}

.App {
  position: relative;
  min-height: 100vh;
  padding: 0 5% 10% 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.App-hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#icons8_link {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 8px;
}